:root{
    --color-base-70: #c71f1f!important;
}
*{
    /* font-family: 'Fira Code', monospace!important; */
    font-family: 'Fira Code',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 300;
    letter-spacing: normal!important;
}
.green{
    color: green;
}
.internal-link{
    text-decoration: none!important;
    font-weight: 700;
}
.language-cmd{
    font-style: italic;
    opacity: .8;
    font-weight: 300!important;
}
div[src] > img{
    margin: 25px;

}
div[src]{
    display:flex;
    align-items: center;
    justify-content: center;
}

pre{
    margin: 0;
}

.copy-code-button[style]{
    right: 60px!important;
}
.admonition-parent > p{
    display: none;
}
.is-flashing{
    position: relative;
    background-color: #8b6cef!important;
    color: white!important;
}
.is-flashing::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: white;
    bottom: 0px;
    right: 0;
    animation: flashing 1.5vs ease-in-out infinite;
}
@keyframes flashing {
    0%{
        width: 0%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 0;
    }
}


hr{
    border-color: #f3f3f3!important;
}
blockquote {
    background: hsl(254deg 100% 95% / 3%)!important;
    padding: 5px 5px 5px 15px!important;
    border-radius: 5px;
}

.subtitle{
    width: 50%;
    border-top: 4px solid;
    border-radius: 10px;
    border-color: #7e7e7e!important;
}

.line-math{
    width: 20%;
    margin: 0;
}
.cite{
    text-align:right;
    font-style: italic;
    font-size: 12px;
}
.math-block{
    display: flex;
}

/* katex style */
.mjx-cA0{
    letter-spacing: 20px;
    font-size: 50px;
}

/* font style */
strong > em{
    font-weight: 600;
}

/* Table style */
thead > tr{
    background-color: transparent;
    border: 4px solid #1e1e1e;
    border-bottom: 2px solid #9b9b9b!important;
    border-top: 3px solid #9b9b9b!important;
    height: 40px;
}

thead > tr > th{
    background-color: transparent!important;
    border:1px solid rgb(139, 139, 139)!important;
}

th{
    min-width: 50px;
    font-weight: 600!important;
    color: var(--h1-color)!important;
}
tbody > tr{
    background-color: hsla(0, 0%, 100%, 0.03)!important;
    border: 4px solid var(--background-primary);
    border-top: none;
}
td{
    border: 1px solid rgb(153, 153, 153)!important;
}